.navbar{
  position: relative;
  &::after{
    content: "";
    width: 100%;
    height: 1px;
    top: 119px;
    right: 0;
    background: black;
    position: absolute;
  }
  z-index: 2;
  .container{
    line-height: 103px;
  }
  img{
    margin-top: 27px;//logo上下置中
  }
  &-part{
    z-index: 3;
  }
}

@include media-breakpoint-down(lg) {
  .navbar::after{
    top: 103px;
  }
}
