.navbar{
  height: 104px;
  z-index: 2;
  .container{
    line-height: 103px;
  }
  &-img{
    margin-top: 17px;//logo上下置中
  }
}

.ranking{
    //rank1、2、3圖片
  &-img{
    @include image("../../../assets/images/art04.jpg");
  }
  &-img-2{
    @include image("../../../assets/images/art05.jpg");
  }
  &-img-3{
    @include image("../../../assets/images/art06.jpg");
  }

  //rank1、2、3編號
  &-part{
    position: relative;
    @include ranking-number("1")
  }
  &-part-2{
    position: relative;
    @include ranking-number("2")
  }
  &-part-3{
    position: relative;
    @include ranking-number("3")
  }
  &-side:hover .ranking-side-img::after{
    content: "MORE";
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0; 
    position: absolute;
    background: rgba(0,0,0,.5);
    cursor: pointer;
  }
  &-side:hover .ranking-side-img::before{
    content: "";
    color: white;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 2;
    border-bottom: 16px solid $primary;
    border-left: 16px solid transparent;
  }

  &-side-img{
    position: relative;
    width: 87px;
    height: 102px;
    img{
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}

