<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css' integrity='sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==' crossorigin='anonymous'/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body>
    <div class="navbar bg-light position-fixed w-100 p-0 border-bottom border-black border-1">
      <div class="container d-block h-100">
        <div class="d-flex justify-content-between h-100">
          <div class="navbar-img">
            <embed src="./assets/images/logo.svg" type="">
          </div>
          <div class="navbar-part">
            <ul class="d-flex m-0 h-100">
              <li class="border-start border-end border-black">
                <form  class="px-9" action="">
                  <input type="text" class="border-0 bg-light" placeholder="搜尋作品名稱、藝術家名稱" name="" id="">
                  <button class="btn">
                  <i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
              </li>
              <li class="px-9 border-end border-black">探索</li>
              <li class="px-9 border-end border-black">市值</li>
              <li class="ps-9">
                <i class="fa-solid fa-wallet"></i>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <%- contents %>

    <div class="footer text-center">
      © ART NFT. All Rights Reserved
    </div>

    <script src="./assets/js/vendors.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>